@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&family=Outfit:wght@100;200;300;400;500;600;700&display=swap');

:root{
    --manrope: 'Manrope', sans-serif;
    --outfit: 'Outfit', sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    margin: 0 5rem;
    /* overflow-x: hidden; */
    width: 75rem;
}
header{
    display: grid;
    grid-template-columns: 1.15fr 1fr;
    margin: 5rem 0 2rem;
    font-family: var(--outfit);
    font-size: 28px;
    font-weight: 700;
}
#logo{
    text-transform: uppercase;
    cursor: pointer;
}

.nav{
    display: grid;
    color: #D2AC47;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.nav p{
    cursor: pointer;
}
.nav :nth-child(1){
    color: #692781;
    
}
.section-one{
    text-align: center;
    font-family: var(--manrope);
    position: relative;
    
}
.phone-image{
    display: none;
}
.web-image{
    position: absolute;
    opacity: 0.1;
    width: 90%;
    top: -1rem;
}

.success{
    font-size: 68px;
    background: -webkit-linear-gradient(0deg, #692781, #D2AC47);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 60px;
    font-weight: 700;
}
.paragraph{
    text-align: center;
    font-size: 28px;
    font-weight: 500;
}
.paragraph-two{
    font-size: 18px;
    font-weight: 400;
    
    
}
.section-one button{
    border: none;
    width: 19rem;
    height: 5rem;
    background-color: #692781;
    color: #FBFBFB;
    border-radius: 20px;
    font-size: 28px;
    margin: 2rem 0;
}

.section-two{
    font-family: var(--manrope);
    margin-bottom: 20rem;
    
}

.section-two h2{
    text-align: center;
    font-size: 62px;
    font-weight: 800;
}


.packages{
    display: grid;
    margin: 10rem 0 0 2rem;
    position: absolute;

    grid-template-columns: 1fr 1fr 1fr 1fr;

}

.plan-one{
    padding: 3rem 0.8rem 3rem 1.2rem;
    background-color: #D9D9D9;
    border-radius: 20px;
    margin-right: 2rem;
    line-height: 3.3rem;
}
.price{
    font-size: 60px;
    text-align: center;
    font-weight: 700;
}
li{
    font-size: 30px;
    font-weight: 700;
}
.plan-one button{
    border: none;
    width: 14rem;
    height: 4rem;
    background-color: #692781;
    color: #FBFBFB;
    border-radius: 20px;
    font-size: 28px;
    /* margin: 2rem 0; */
    margin: 1rem 0rem 1rem 0rem;
}


.section-three{
    background-color: #f0efef;
    margin: 0 -4.4rem 0 -4.88rem ;
    padding: 36rem 4.4rem 4.4rem 4.9rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    text-align: center;
}

.section-three h2{
    padding-top: 15rem;
    font-size: 60px;
    font-family: var(--outfit);
    border-bottom: #692781 1px solid;
    margin-bottom: 2rem;
}

.section-four{
    padding: 5rem 4.4rem 5rem 4.8rem;
    background-color: #FBFBFB;
    margin: 0 -4.4rem 0 -4.8rem ;
}

.section-four h2{
    padding-top: 15rem;
    font-size: 60px;
    font-family: var(--outfit);
    margin-bottom: 5rem;
    text-align: center;
}
.TRADE{
    color: #692781;
    font-size: 30px;
    font-family: var(--manrope);
    font-weight: 500;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 3rem;
    grid-row-gap: 8rem;
}

.trade01{
    margin: 0 0 3rem -3rem;
    text-align: center;
}

.trade01::before{
    content: '  ';
    height: 5rem;
    margin-left: -1.67rem;
    margin-top: -1.4rem;
    position: absolute;

    width: 5rem;
    /* padding: 0.7rem 2rem ; */
    border-radius: 50px;
    border: #692781 4px solid;
    
}


.section-five{
    background-color: #f0efef;
    padding: 2rem 4.4rem 4.5rem 4.8rem;
    margin: 0 -4.4rem 0 -4.95rem;
}
.section-five h2{
    font-size: 60px;
    font-family: var(--outfit);
    margin-bottom: 5rem;
    text-align: center;
}
.five-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 3rem;
    font-family: var(--outfit);
}
.purple{
    color: #692781;
    font-size: 70px;
    font-weight: 800;
}

.black{
    font-size: 35px;
    font-weight: 600;
    margin-left: 3rem;
}
.bl{
    margin-left: -1.2rem;
}

.SVG{
    margin: 11rem 17rem;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
}
.svg{
    background-color: #D9D9D9;
    padding: 0.5rem;
    box-sizing: border-box;
    /* width: 6rem; */
    border: 15px #D9D9D9 solid;
    border-radius: 50px;
    cursor: pointer;
}
.svgg{
    margin: 0 31.8rem 3rem;
}

.parag{
    margin: -3.5rem 0 2rem;
    font-weight: 800;
    font-family: var(--manrope);
    word-spacing: 0.2rem;
}
.inp{
    display: grid;
    grid-template-columns: 1.8fr 1fr;
    margin: 0 9rem 0 9.5rem;
    grid-gap: 4px;
}
input{
    height: 4.5rem;
    background-color: #D9D9D9;
    border: none;
    padding: 2rem 0.7rem;
    font-size: 30px;
    font-family: var(--manrope);
    font-weight: 600;
    
}
input:focus{
    border: none;
    outline: none;
}
.inp button{
    font-weight: 600;
    font-size: 30px;
    font-family: var(--manrope);
    border: none;
    background-color: #692781;
    color: #fff;

}

footer{
    display: grid;
    grid-template-columns: 1.1fr 1fr 0.647fr;
    margin: 0 -4.4rem 0 -4.8rem;
    background-color: #FBFBFB;
    padding: 5rem 2rem 5rem 2.7rem;
}

.footer-logo{
    font-size: 60px;
    font-family: var(--outfit);
    font-weight: 800;
}
footer p{
    font-size: 30px;
    font-weight: 800;
    font-family: var(--manrope);
}
.footer-two{
    line-height: 4rem;
    margin-top: -1.5rem;
}
.footer-two p{
    margin-left: 0.44rem;
}
.svg1{
    /* margin-left: 8rem; */
    position: absolute;
    z-index: 2;
    /* margin-top: 2.5rem; */
    left: 64.7rem;
    top: 296rem;

}
.svg2{
    /* margin-left: 8rem; */
    position: absolute;
    z-index: 2;
    /* margin-top: 2.5rem; */
    left: 68.7rem;
    top: 296rem;

}
.svg3{
    /* margin-left: 8rem; */
    position: absolute;
    z-index: 2;
    /* margin-top: 2.5rem; */
    left: 72.7rem;
    top: 295.8rem;

}
.svg4{
    /* margin-left: 8rem; */
    position: absolute;
    z-index: 2;
    /* margin-top: 2.5rem; */
    left: 76.6rem;
    top: 295.8rem;

}
.svggg{
    width: 1.8rem;
    /* margin-left: 3rem; */
    cursor: pointer;
}
.sv{
    /* Ellipse 2 */
    z-index: 1;
    cursor: pointer;
position: absolute;
width: 55px;
height: 55px;
left: 63.8rem;
    top: 295.4rem;
border-radius: 40px;

background: #D9D9D9;

}
.sv2{
    /* Ellipse 2 */
    z-index: 1;
    cursor: pointer;
position: absolute;
width: 55px;
height: 55px;
left: 68rem;
top: 295.4rem;
border-radius: 40px;

background: #D9D9D9;

}
.sv3{
    /* Ellipse 2 */
    z-index: 1;
    cursor: pointer;
position: absolute;
width: 55px;
height: 55px;
left: 71.9rem;
top: 295.4rem;
border-radius: 40px;

background: #D9D9D9;

}
.sv4{
    /* Ellipse 2 */
    z-index: 1;
    cursor: pointer;
position: absolute;
width: 55px;
height: 55px;
left: 75.8rem;
top: 295.4rem;
border-radius: 40px;

background: #D9D9D9;

}
button{
    cursor: pointer;
}

.draw-out{
    width: 80%;
    position: fixed;
    top: 0px;
    right: -110%;
    background-color: #fff;
    font-family: var(--manrope);
    font-size: 28px;
    font-weight: 700;
    z-index: 4;
    padding: 3rem 1rem 10rem;
   
    transition: transform 0.5s cubic-bezier(0.895, 0.03, 0.685, 0.22);

}
.rights, .menu{
    font-weight: 400;
}
.menu, #home{
    margin-top: -1rem;
    display: grid;
    grid-template-columns: 7fr 1fr;
    color: #692781;
}
.line{
    background-color: black;
    width: 1.5rem;
    margin: 4px;
    height: 3px;
    border-radius: 80px;
    box-sizing: border-box;
    border: 1px solid black;
}

.lines{
    display: none;
    cursor: pointer;
}

@media screen and (max-width: 450px) {
    /* @ */

    body{
        width: auto;
        margin: 0;
        /* height: 453rem; */
        height: max-content;
    }
    .nav{
        display: none;
    }

    
/* .lines{
    display: block;
} */

header{
    grid-template-columns: 5fr 0.5fr;
    padding: 2rem 1rem;
    margin: 0;
    background-color: #f0efef;
}
.web-image{
    display: none;
}
.phone-image{
    position: absolute;
    display: block;
    opacity: 0.2;
}
.section-one{
    padding: 0 1.5rem;
    position: relative;
    /* background: url(./background-phone.png), 0.5; */
    /* opacity: 0.4; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    backface-visibility: hidden;
}
.section-one button{
    width: 13rem;
    height: 4rem;
    font-size: 22px;
}
.success{
    font-size: 30px;
    padding-top: 1rem;
    font-weight: 800;
}
.packages, .lines{
    display: block;
    position: relative;
}
.packages{
    margin: 3rem 0rem 0 2rem;
}
.plan-one{
    margin-bottom: 2rem;

}
.section-two{
    padding: 2rem 1rem;
    margin: 0;
    background-color: #f0efef;

}
.section-two h2{
    font-size: 35px;
    margin-bottom: 2rem;
}
/* .price, li{
    font-size: 25px;
} */
.section-three, .section-four, .section-five{
    padding: 1rem 1rem;
    display: block;
    /* width: 100%; */
    margin: 0;
    background-color: #f0efef;
    /* padding: 1rem; */
}
.section-three h2{
    padding: 2rem 0 1rem;
    font-size: 30px;
    width: 80%;
    margin: 0 auto 2rem ;
}
.paragraph-two{
    font-size: 15px;
    padding: 0 2rem;
}
.section-four h2{
    padding: 2rem 0;
    font-size: 30px;
}
.TRADE{
    display: block;
}

img{
    width: 80%;

}

.five-grid{
    display: block;
    /* text-align: center; */
    padding-left: 3.5rem;
    margin-right: 0;
    padding-right: 0;
}
.black{
    text-align: center;
    margin:  0 0 2rem -3rem ;
}
.trade-grid{
    margin: 0 0 5rem 2.5rem;
}
.TRADE{
    margin-top: -2rem;
    margin-bottom: 0;
}

.svg{
    width: 3rem;
    height: 3rem;
    border-radius: 25px;
    padding: 0px;
    
}
.svgg{
    margin: -1rem 0 1rem 7.3rem;
    width: 8rem;
}
.SVG{
    margin: 4rem 0 0 1.7rem;

}

.inp{
    margin: 0;
    display: block;
    width: 100%;
    margin-left: 1rem;
}
 .inp button, input{
    width: 100%;
    margin-bottom: 1rem;
    height: 4rem;
    font-size: 16px;
    margin-left: -1rem;
 }


 footer{
    margin: 0;
    padding: 2rem 1rem 6rem;
    display: block;
    line-height: 25rem;
    text-align: center;
    width: 100%;
    background-color: #f0efef;
 }
 .footer-logo{
    font-size: 35px;
    /* padding: 2rem auto; */
    /* height: 4rem; */
    margin: -10rem 0 -10rem;
 }
 footer p{
    font-size: 22px;
 }

 .svggg{
    position: absolute;
    top: 440.5rem;
    margin: 0 0 0 0.7rem;
    width: 2rem;

 }
 

    .svg1, .sv{
        left: 6rem;
    }
    .svg2,.sv2{
        left: 10rem;
    }
    .svg3, .sv3{
        left: 14rem;
        top: 440.4rem;
    }
    .svg4, .sv4{
     top: 440.4rem;
     left: 18rem;
    }
    
    
    .sv, .sv2,.sv3,.sv4{
        top: 439.91rem;
        position: absolute;
    }



.section-five{
    /* padding: 2rem 0 4.5rem 1.4rem; */
    padding-left: 2rem;
    padding-right: 2rem;
    box-sizing: border-box;
    margin: -1rem 0 0 0;
}
.section-five h2{
    font-size: 25px;
    /* text-align: center; */
    padding: 0; 
    width: 110%;
    margin-left: -1rem;
    
}

.parag, .paragg{
    font-size: 16px;
}
.walk{
    margin-top: 2rem;
}

.plan-one button{
    /* margin-left: 2.1rem; */
    margin: 1.5rem 0 0.5rem 2.1rem;
}


}
